*{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: 'Poppins', sans-serif;
}

            /* header section style start */

#header{
      background-color:rgba(229, 84, 115, 0.10) ;
      
      
      
}

.header-container{
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 150px;
}

.header-container img{
      max-width: 440px;
      height: 550px;
      margin-top: 40px;
      margin-bottom: -7px;
}

.item-left{
      padding-right: 50px;
}

.item-heading{
      font-size: 50px;
      line-height: 60px;
      font-weight: 600;
}

.paragraph{
      margin-top: 20px;
      font-size: 14px;
}

.shop-now{
      margin-top: 20px;
      padding: 10px 25px;
      background-color: #E55473;
      color: white;
      border: none;
      border-radius: 5px;
}
            /* featured section style start */

.featured-details{
      width: 550px;
      margin:50px auto ;
      text-align: center;
}
.featured-heading{
      font-size: 30px;
}

.feature-items{
      width: 80%;
      margin: auto;
      display: flex;
      justify-content: center;

}
.item img{
      width: 230px;
      display: block;
      height: auto;
      margin-left: 15%;
      margin-top: 30px;
}

.item{
      margin: 0 20px;
}

.image-box1{
      width: 350px;
      height: 370px;
      display: flex;
      justify-self: center;
      background-color: rgba(5, 151, 160, 0.15);
      border-top-left-radius: 50%;
      border-top-right-radius: 50%;
      overflow: hidden;
      
}

.image-box2{
      width: 350px;
      height: 370px;
      background-color: rgba(5, 151, 160, 0.15);
      border-top-left-radius: 50%;
      border-top-right-radius: 50%;
      overflow: hidden;
}

.image-box3{
      width: 350px;
      height: 370px;
      background-color: rgba(71, 125, 17, 0.15);
      border-top-left-radius: 50%;
      border-top-right-radius: 50%;
      overflow: hidden;
}

.item .angkor{
      display: block;
     text-align: center;
     padding: 20px 0;
}

.middle{
      display: block;
      margin: auto auto;
}

      /* service section style start */

#service{
      padding: 80px 0;
}
.item-container{
      width: 84%;
      margin: auto;
      background-color:rgba(39, 39, 39, 0.05) ;
}
.service-row{
      display: flex;
      justify-content: space-between;
      padding:50px 100px ;
      
     
}
.service-row .item img{
     width: 100px;
     display: block;
     margin: 0 auto;
     
}