*{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: 'Poppins', sans-serif;
}

#header{
      background-color:rgba(229, 84, 115, 0.10) ;
      
      
      
}

.header-container{
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 150px;
}

.header-container img{
      max-width: 440px;
      height: 550px;
      margin-top: 40px;
      margin-bottom: -7px;
}

.item-left{
      padding-right: 50px;
}

.item-heading{
      font-size: 50px;
      line-height: 60px;
      font-weight: 600;
}

.paragraph{
      margin-top: 20px;
      font-size: 14px;
}

.shop-now{
      margin-top: 20px;
      padding: 10px 25px;
      background-color: #E55473;
      color: white;
      border: none;
      border-radius: 5px;
}

.featured-details{
      width: 550px;
      margin:50px auto ;
      text-align: center;
}
.featured-heading{
      font-size: 30px;
}

.feature-items{
      display: flex;
      justify-content: center;
}
.item img{
      width: 230px;
      display: block;
      height: auto;
      margin-left: 15%;
      margin-top: 30px;
}

.item{
      margin: 0 20px;
}

.image-box1{
      width: 350px;
      height: 370px;
      display: flex;
      justify-self: center;
      background-color: pink;
      border-top-left-radius: 50%;
      border-top-right-radius: 50%;
      overflow: hidden;
      
}

.image-box2{
      width: 350px;
      height: 370px;
      background-color: lightblue;
      border-top-left-radius: 50%;
      border-top-right-radius: 50%;
      overflow: hidden;
}

.image-box3{
      width: 350px;
      height: 370px;
      background-color: lightgreen;
      border-top-left-radius: 50%;
      border-top-right-radius: 50%;
      overflow: hidden;
}

.item .angkor{
      display: block;
     text-align: center;
}

.middle{
      display: block;
      margin: auto auto;
}