*{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: 'Poppins', sans-serif;
}

            /* header section style start */

#header{
      /* height: 100vh; */
      background-color:rgba(229, 84, 115, 0.10) ;
}

.header-container{
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 150px;
}

.header-container img{
      padding-top: 50px;
      height: 100vh;
      margin-bottom: -7px;
}

.item-left{
      padding-right: 50px;
}

.item-heading{
      font-size: 50px;
      line-height: 60px;
      font-weight: 600;
}

.paragraph{
      margin-top: 20px;
      font-size: 14px;
}

.shop-now{
      margin-top: 20px;
      padding: 10px 25px;
      background-color: #E55473;
      color: white;
      border: none;
      border-radius: 5px;
}
            /* featured section style start */

.featured-details{
      width: 550px;
      margin:50px auto ;
      text-align: center;
}
.featured-heading{
      font-size: 30px;
}

.feature-items{
      width: 80%;
      margin: auto;
      display: flex;
      justify-content: center;

}
.item img{
      width: 230px;
      display: block;
      height: auto;
      margin-left: 15%;
      margin-top: 30px;
}

.item{
      margin: 0 20px;
}

.image-box1{
      width: 350px;
      height: 370px;
      display: flex;
      justify-self: center;
      background-color: rgba(167, 33, 98, 0.15);
      border-top-left-radius: 50%;
      border-top-right-radius: 50%;
      overflow: hidden;
      
}

.image-box2{
      width: 350px;
      height: 370px;
      background-color: rgba(5, 151, 160, 0.15);
      border-top-left-radius: 50%;
      border-top-right-radius: 50%;
      overflow: hidden;
      display: flex;
      align-items: center;
}
.image-box2 img{
      margin-bottom: 0;
}

.image-box3{
      width: 350px;
      height: 370px;
      background-color: rgba(71, 125, 17, 0.15);
      border-top-left-radius: 50%;
      border-top-right-radius: 50%;
      overflow: hidden;
}

.item .angkor{
      display: block;
     text-align: center;
     padding: 20px 0;
}

.middle{
      display: block;
      margin: auto auto;
}

      /* service section style start */

#service{
      padding: 80px 0;
}
.item-container{
      width: 84%;
      margin: auto;
      background-color:rgba(39, 39, 39, 0.05) ;
}
.service-row{
      display: flex;
      justify-content: space-between;
      padding:50px 100px ;
      
     
}
.service-row .item img{
     width: 100px;
     display: block;
     margin: 0 auto;
}

      /* discount section style start */

#discount{
      background-color:rgba(229, 84, 115, 0.10) ;
}

.discount-container{
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 50px 100px;
}

.discount-item{
      width: 400px;
      text-align: center;
      margin: auto;
}

.sign-up{
      padding: 10px 25px;
      background-color: #E55473;
      color: white;
      border: none;
      border-radius: 5px;
      cursor: pointer;
}

.discount-paragraph{
      margin: 10px 0;
}

span{
      color: #E55473;
}

/*------------------ instagram section style start ------------*/
.insta-items{
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 110px;
      margin: 50px 0;
}

.insta-description{
      width: 500px;
      text-align:center;
      margin:30px auto;
}

.insta-heading{
      font-size: 30px;
}

.insta-paragraph{
      margin: 10px 0;
}

.insta-item{
      width: 260px;
}

.insta-item .insta-image{
      width: 100%;
}

 /*------------- bonus section style start -------------*/
#bonus{
      background-color:rgba(229, 84, 115, 0.10) ;
      height: 80vh;
      position: relative;
}
.bonus-container{
      width: 84%;
      margin:auto;
      display: flex;
      align-items: center;
}
.bonus-main{
      display: flex;
      align-items: center;
      gap:40px;
}
.bonus-title{
      text-align: center;
      line-height: 5;
}
.demo-video{
      width: 45%;
}
.demo-video video{
      max-width: 100%;
      display: block;
      margin:  auto;
      border: 10px solid #E55473;
      border-radius: 20px 0 20px 0;
}

.demo-message{
      width: 45%;
      margin-top: -30px;
    
}

.valentine-heading{
      font-size: 40px;
      font-weight: 500;
      margin: 20px 0;
}

.heard{
      margin-top: 20px;
}

.heard-message i{
      color: #E55473;
      margin-right: 10px;
}

.heard-message{
      font-weight: 300;
      font-size: 16px;
}

.valentine-paragraph{
      margin-top: 25px;
}


/*----------------- latest section style start ---------------*/
.latest-row{
      width: 84%;
      margin: 80px auto;
}
.main{
      background: url('images/Rectangle\ 9.png'); 
      background-repeat: no-repeat;
      padding: 80px 0;
      width: 100%;
      background-size: cover;
}
.latest-content{
      text-align: center;
      
}

.latest-heading{
      font-size: 30px;
}

input{
      width: 400px;
      padding: 10px 8px;
      font-size: 16px;
      border: none;
      border-radius: 5px;
}

.subscribe{
      padding: 10px 25px;
      background-color: #E55473;
      border: none;
      font-size: 16px;
      color: white;
      border-radius: 5px;
      cursor: pointer;
}

.offer-tex{
      margin-bottom: 80px;
}

.btn{
      margin: 20px 0;
}


/*--------------- footer section style start ---------------*/
#footer .footer-main{
      background-color: black;
}

.footer-main .content{
      width: 40%;
      color: white;
      text-align: center;
      margin:0 auto;
      padding: 100px 0;
}

.footer-paragraph{
      margin: 20px 0;
      font-weight: 300;
      color: rgb(195, 195, 195);
}

.copy-message{
      font-size: 14px;
      color: rgb(107, 107, 107);
}